* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Lato";
  padding: 0;
}
.login-form,
.login-btn {
  width: 406px;
}

.login-btn,
.delete-btn {
  background-color: #ed7966;
}

.login-head {
  width: 25rem;
}

.login-title {
  font-family: "Lato";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #09174a;
}

.login-txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #646464;
}

.login-container {
  margin-top: 5rem;
}

.lms-txt {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #ed7966;
}

.lms-txt-white {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

.nav-container {
  width: 15.875rem;
  height: 100vh;
  background-color: #ed7966;
}

.std-sidebar {
  width: 15.875rem;
  height: 100vh;
  background-color: #303179;
}

.side-btn {
  background-color: #ed7966;
  border: none;
  outline: none;
  box-shadow: none !important;
  width: 10rem;
  height: 2.75rem;
}

.std-side-btn {
  background-color: #303179;
  border: none;
  outline: none;
  box-shadow: none !important;
  width: 10rem;
  height: 2.75rem;
}

.side-btn :hover {
  background-color: #ef8979 !important;
}

.std-side-btn :hover {
  background-color: #494a89 !important;
}

.add-student-btn {
  background-color: #ed7966;
}

.return-btn {
  background-color: #ed7966;
}

.nav-brand {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #09174a;
}

.list-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #646464;
}

.modal-header {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #09174a;
}

.modal-label {
  font-weight: 500px;
  font-size: 16px;
  line-height: 19px;
  color: #09174a;
}

.icons {
  cursor: pointer;
}

input,
button:focus {
  outline: none;
  box-shadow: none !important;
}

.list-item {
  color: #09174a;
}

.view-student-head {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(9, 23, 74, 0.54);
  text-decoration: none;
}

.view-student-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #09174a;
}

.std-name {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #282829;
}

.std-email {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #414141;
}

.book-details {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
}

.std-issued-title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #282829;
}

.sort-txt {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #282829;
}

.select-box {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #282829;
}

.login-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #09174a;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #09174a;
}

#reg-txt {
  font-family: "Lato";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #646464;
}

#reg-link {
  font-family: "Lato";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ed7966;
}
