* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Lato";
  padding: 0;
}
.login-form,
.login-btn {
  width: 406px;
}

.login-btn ,.delete-btn {
  background-color: #ed7966;
}

.login-head {
  font-family: "Lato";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #09174a;
}

.login-txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #646464;
}

.login-container {
  margin-top: 5rem;
}

.lms-txt {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #ed7966;
}
.lms-txt-white {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

.nav-container {
  width: 15.875rem;
  height: 100vh;
  background-color: #ed7966;
}

.add-student-btn {
  background-color: #ed7966;
  /* border: none;
  width: 9.063rem; */
}

.nav-brand {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #09174a;
}

.list-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #646464;
}

.modal-header {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #09174a;
}

.modal-label {
  font-weight: 500px;
  font-size: 16px;
  line-height: 19px;
  color: #09174a;
}

.side-btn{
  background-color: #ed7966;
  border: none;
  outline: none;
  box-shadow: none !important;
  width: 10rem;
  height: 2.75rem;
}
.side-btn :hover{
  background-color: #ef8979 !important;
}

/* .side-btn-primary{
  background-color: none;
  border-color: none;
} */